# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.env/
.env.local

# Streamlit
.streamlit/

# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/

# Secrets
secrets.toml
